<a href="https://colab.research.google.com/github/AprilJoyLopez/CPEN65-2/blob/main/Lopez%2CApril_Joy_Midterm_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#####Number 1

In [78]:
integers = [10,20,30,40,50,60,70,80,90,100]
print("Integers")

for index , val in enumerate(integers):
  print("Array", [index], val)

ans = sum(integers)
print("The sum of element is =", ans)

Integers
Array [0] 10
Array [1] 20
Array [2] 30
Array [3] 40
Array [4] 50
Array [5] 60
Array [6] 70
Array [7] 80
Array [8] 90
Array [9] 100
The sum of element is = 550

#####Number 2

In [66]:
numbers = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"]
a=","
print(a.join(numbers))

numbers.append(20)
print((*numbers),sep = ",")

1,2,3,4,5,6,7,8,9,10
1,2,3,4,5,6,7,8,9,10,20

#####Number 3

In [65]:
numbers = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"]
a=","
print(a.join(numbers))

numbers.insert(1,25)
print((*numbers),sep = ",")

1,2,3,4,5,6,7,8,9,10
1,25,2,3,4,5,6,7,8,9,10

#####Number 4

In [ ]:
numbers = ["5","4","3","2","1"]
a =","
print(a.join(numbers))

numbers.reverse()
print(a.join(numbers))

5,4,3,2,1
1,2,3,4,5

#####Number 5

In [ ]:
numbers = ["5","4","3","2","1"]
len(numbers)
print(len(numbers))

5